.banner{
     background-image: linear-gradient(to right, #635dc8, #3027ae);
     height: 100vmin;
     color: white;
     text-align: center;
     
 }
 
 .banner > h1 {
     margin: 5vmax;
     font: 600 2.5vmax "Roboto"
 }
 .banner > p {
     font: 300 2.3vmax "Lucida Sans";
 }
 .banner > a > button {
     cursor: pointer;
     background-color: white;
     border: 1px solid white;
     border-radius: 0;
     padding: 1vmax;
     transition: all .5s;
     width: 9vmax;
     font: 500 1vmax "Roboto";
 }
 .banner > a > button:hover {
     background-color: rgba(255,255,255,0);
     color: white;
 }
 .banner::after{
     content: "";
     width: 100vw;
     height: 100vmin;
     background-color: #ffffff;
     position: absolute;
     top: 0;
     left: 0;
     clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
     max-width: 100%;
 }
 
 .homeHeading{
     text-align: center;
     font-family: Roboto;
     font-size: 1.4vmax;
     border-bottom: 1px solid rgba(21,21,21,.5);
     width: 20vmax;
     padding: 1vmax;
     margin: 2vmax auto;
     color: rgba(0,0,0,.7);
 }
 .homeContainer{
    display: flex;
 }
 .container {
     /* margin: 0 3vmax ; */
     flex-wrap: wrap;
     width: 80vw;
     max-width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }

 .content{
     margin-left: .5vmax;
     margin-bottom: 1vmax;
 }
 .content > div >div > span{
     font-size: 2vmax;
 }
 .productCard{
     display: flex;
     flex-direction: column;
     width: 17vmax;
     text-decoration: none;
     color: rgb(48,48,48);
     transform: all .5s;
     padding-bottom: .5vmax;
     transition: all .5s;
     height: fit-content;
     margin: 1vmax;
 
 }
 .productCard > img {
     height: 20vmax;
     object-fit: contain;
     padding: 1vmax;
 }
 .productCard >div > div {
     margin: .5vmax;
     display: flex;
     align-items: flex-end;
     justify-content: space-between;
 }
 .productCard >div > div > span {
     margin: .5vmax;
     font: 300 .7vmax "Roboto";
 }
 
 .productCard >div > p {
     font-family: "Roboto";
     font-size: 1.2vmax;
     margin: 1vmax .5vmax;
     margin-bottom: 0;
     font-weight: 800;
     text-overflow: ellipsis;
     -webkit-line-clamp: 2;
     overflow: hidden;
     display: -webkit-box;
     -webkit-box-orient: vertical;
 }
 .productCard >div > span {
     margin: .5vmax;
     color:#eb4034;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 1vmax;
     font-weight: 800;
 }
 .productCard:hover{
     box-shadow: 0 0 5px rgba(15,15,15,.26);
     transform: translateY(-1vmax);
 }
 .filterBox{
    width: 15vmax;
    /* position: absolute; */
    top: 10vmax;
    left: 4vmax;
    margin: 3vmax;
    z-index: 9;
}
.filterBox > fieldset {
    border: 1px solid rgba(0,0,0,.378);
    margin: 1vmax 0;
}
.categoryBox{
    padding: 0%;
}
.categoryLink{
    list-style: none;
    color: rgba(0,0,0,.78);
    font: 400 1.2vmax "Roboto";
    margin: .4vmax;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s
}
.categoryLink:hover{
    color: #FFD814;
}
.css-187mznn-MuiSlider-root{
    color: #FFD814 !important;
}
.css-nnid7-MuiSlider-valueLabel{
    color: black !important;
    background-color: #FFD814 !important;
    
}
.clearFilter {
    border: none;
    background-color: #FFD814;
    color: black;
    margin: 2vmax 0;
    font: 300 .9vmax "Roboto";
    width: 100%;
    padding: .8vmax;
    cursor: pointer;
    transition: all .5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .268);
}
.clearFilter:hover {
    background-color: #febd69;
}
.searchBox {
    box-shadow: 0 0 5px rgba(0 , 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0 , 0, 0, 0.634);
    padding: 1vmax;
    width: 100%;
    outline: none;
    border-radius: 0%;
    font: 300 1.1vmax cursive;
    box-sizing: border-box;
    /* height: 8%; */
    margin: 1vmax 0;
}
 @media screen and (max-width: 600px){
     .productCard >div> p {
         font-size: 1.7vmax;
     }
     .productCard >div  > div {
         margin: 0;
         display: block;
     }
     .productCard > div > div > span {
         margin: 0 .5vmax;
         font: 300 1.2vmax "Roboto";
     }
     .productCard > div > span {
         font-size: 2vmax;
     }
     .container {
         margin: 2vmax auto;
         flex-wrap: wrap;
         width: 90vw;
         max-width: 100%;
         justify-content: center;
     }
     .homeHeading{
        font-size: 3vmax;
     }
     .homeContainer{
          /* Sidebar Adjustment */
          width: calc(100% - 50px);
          position: relative;
          left: 50px;
          flex-direction: column;
     }
     .filterBox {
        width: 30vmax;
        margin: 3vmax auto;
    }
    .searchBox,.categoryLink,.clearFilter{
        font-size: 2vmax;
    }
    
 }